---
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Layout title="Outskirt Web Development">
    <SectionTitle title="Blog" />
    <div>
        <PostsList />
    </div>
</Layout>
