---

import Layout from '../layouts/Layout.astro';
import PostsList from '../components/PostsList.astro'


---
<Layout title="Outskirt Web Development">
    <h1 class='section-title py-12'>
        Blog
    </h1>
    <div>
        <PostsList />
    </div>
</Layout>
 
<style>
    .custom-head{
        /*background: rgb(var(--dark));*/
        height: 500px
    }
</style>
