---
import Menuicon from './Menuicon.astro'


---

<nav class='navbar flex align-center'>
    <div class='flex flex-col justify-center'>
        <h1 class='p-2 px-6 text-xl'>Outskirt Dev</h1>
    </div>
    <Menuicon />
</nav>

<style>
    .navbar {
        background: rgb(var(--background));
        height: 4rem;
        border-bottom: 1px solid #ddd;
    }
</style>
