---
type Props = {
    page: number;
    totalPages: number;
    prevLink: URL | undefined;
    nextLink: URL | undefined;
};

import ToggleableAnchor from "./ToggleableAnchor.astro";

const { page, totalPages, prevLink, nextLink } = Astro.props;

---

<div class="pt-6 flex justify-between items-center">
    <p class="text-sm text-gray-800 font-semibold">
        Page {page} / {totalPages}
    </p>
    <div class="inline-flex">
        <ToggleableAnchor text="Prev" href={prevLink && prevLink.toString()} />
        <ToggleableAnchor text="Next" href={nextLink && nextLink.toString()} />
    </div>
</div>
