---
import type { Post as Props } from '../utils/posts'
import { getFormattedDate } from '../utils/posts'
import GlobalLayout from './GlobalLayout.astro'

export type { Props }

const { frontmatter, readingTime } = Astro.props;
const { title, date } = frontmatter
const formattedDate = getFormattedDate(date)
---

<GlobalLayout title={title}>
    <article class="blog-article p-2 pt-6 justify-center flex">
        <div class="content-wrapper">
            <h1 class='title'>
                { title }
            </h1>
            <div class='flex justify-between text-sm'>
                <p>{formattedDate}</p>
                <p>{readingTime?.text}</p>
            </div>
            <div class='pt-8'>
                <slot />
            </div>
        </div>
    </article>
</GlobalLayout>
<script>
    //import { menuStore } from '../store/menuStore.ts'
    //
    //const mainWrapper = document.querySelector('.main-wrapper') as HTMLElement
    //const menu = document.querySelector('.menu') as HTMLElement
    //const menuWidth = menu.getBoundingClientRect().width
    //const unsub = menuStore.subscribe(v=> {
    //    mainWrapper.style.marginRight = v === 'open' ? `${menuWidth}px` : 'initial'
    //})

</script>
<style>
    .title {
        color: rgb(var(--accent2));
        font-size: 2rem;
    }
</style>
