---
import type { Post as Props } from '../utils/posts'
import { getFormattedDate } from '../utils/posts'
import GlobalLayout from './GlobalLayout.astro'

export type { Props }

const { frontmatter, readingTime } = Astro.props;
const { title, date } = frontmatter
const formattedDate = getFormattedDate(date)
---

<GlobalLayout title={title}>
    <article class="blog-article p-2 pt-6 justify-center flex">
        <div class="content-wrapper">
            <h1 class='post-title'>
                { title }
            </h1>
            <div class='flex justify-between text-sm'>
                <p>{formattedDate}</p>
                <p>{readingTime?.text}</p>
            </div>
            <div class='pt-8'>
                <slot />
            </div>
        </div>
    </article>
</GlobalLayout>
