---
import GlobalLayout from './GlobalLayout.astro'

export interface Props {
    isRoot: boolean | undefined;
	title: string;
    description: string | undefined;
}

const { title, description, isRoot } = Astro.props;
---


<GlobalLayout title={title} description={description} isRoot={isRoot}>
    <div class="p-2 justify-center flex flex-1">
        <div class="content-wrapper">
            <slot />
        </div>
    </div>
</GlobalLayout>
