---
import GlobalLayout from './GlobalLayout.astro'
import '../css/styles.css'

export interface Props {
	title: string;
    description: string | undefined;
}

const { title, description } = Astro.props;
---


<GlobalLayout title={title} description={description}>
    <div class="p-2 justify-center flex">
        <div class="content-wrapper">
            <slot />
        </div>
    </div>
</GlobalLayout>
