---
import type { Post as Props } from '../utils/posts'
import { getFormattedDate } from '../utils/posts'
import GlobalLayout from './GlobalLayout.astro'

export type { Props }

const { frontmatter, readingTime } = Astro.props;
const { title, date, summary } = frontmatter
const formattedDate = getFormattedDate(date)
---

<GlobalLayout title={title} description={summary}>
    <article class="blog-article pt-6 justify-center flex flex-1">
        <div class="content-wrapper p-2">
            <h1 class='post-title'>
                { title }
            </h1>
            <div class='flex text-md text-gray-500 my-2'>
                <p class='pr-2'>{formattedDate}</p>
                {readingTime && <p class='pr-2'>~</p>}
                <p>{readingTime?.text}</p>
            </div>
            <div class='pt-8'>
                <slot />
            </div>
        </div>
    </article>
</GlobalLayout>
